<aside class="dashboard">
    <ul>
        <li><a href="{{ path("app_article_index_dashboard")}}" class="{{page == "index" ? "active": ""}}" >Dashboard</a></li>
        <li><a href="{{ path("app_hello")}}" class="" >Home</a></li>
        <li><a href="{{ path("app_article_index")}}" class="{{page == "articles" ? "active": ""}}" >My articles</a></li>
        <li><a href="{{ path("app_logout")}}">Logout</a></li>
    </ul>
</aside>